<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>STUDENT MANAGEMENT SYSTEM</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">STUDENT MANAGEMENT SYSTEM</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/students}">STUDENT MANAGEMENT</a>
      </li>
      
    </ul>
     <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link " th:href="@{/students/new}">ADD STUDENT</a>
      </li>
      
    </ul>
  </div>

</nav>
  <br>

<div class="container">
<div class ="row justify-content-center">
<h3> STUDENTS LIST</h3>
</div>
<br>


</div>
<table class ="table table-striped table-bordered mt 6">
<thead class ="table-dark">
<tr>
<th>Student First Name</th>
<th>Student Last Name</th>
<th>Student email</th>
<th>Actions</th>
</tr>




</thead>
<tbody>
<tr th:each="student: ${students}">
<td th:text="${student.firstname}"></td>
<td th:text="${student.lasttname}"></td>
<td th:text="${student.email}"></td>
<td >
<div class="justify-content-center">
<a th:href="@{/student/edit/{id}(id =${student.id})}" class ="btn btn-primary">UPDATE</a>

<a th:href="@{/student/delete/{id}(id=${student.id})}"class ="btn btn-danger ">DELETE</a>
</div>


</td>

</tr>




</tbody>

</table>


</div>

</body>
</html>